body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #111;
    color: #ddd;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    background-color: #111;
    color: #ddd;
}

.ql-question-wrapper {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: #222;
    border: 1px solid #333;
}
